/**
 * Headings
 */
/*
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
}
*/

img {
  max-width: 100%;
  vertical-align: top;
  height: auto !important;
  margin: 0;
  padding: 0;
}

/**
 * Header
 */

.site-header {
  padding-top: 64px;
  .site-tagline {
    color: $grey-color;
    margin-top: 15px;
    @include relative-font-size(1.125);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5;
    a,
    a:visited,
    a:hover {
      text-decoration: none;
      color: initial;
    }
  }
}

article {
  hgroup {
    text-align: center;
    .page-heading {
      margin-bottom: 0;
    }
    .page-subtitle {
      color: $grey-color;
    }
  }
  .page-content {
    &.text {
      max-width: 1024px;
      margin: auto;
    }
  }
}

/**
 * Content
 */
.page-heading {
  text-align: center;
}
.page-content {
  .wrapper {
    max-width: 100%;
    &.gallery {
      .page-heading {
        margin-bottom: 0;
      }
    }
  }
  .page-intro {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}

/**
 * Site footer
 */
.site-footer {
  .wrapper {
    color: $grey-color;
    text-align: center;
    .social-media-list {
      li {
        display: inline-block;
        .svg-icon {
          width: 40px;
          height: 40px;
          display: inline-block;
          padding-right: 10px;
          vertical-align: text-top;
        }
      }
    }
  }
}

/**
 * Masonry
 */

.page-content {
  .wrapper {
    .grid {
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      max-width: 1200px;
      margin: 0 auto;
      text-align: center;
    }
    .grid-item {
      float: left;
      figure {
        position: relative;
        img {
          margin: auto;
          width: 100%;
        }
        figcaption {
          position: absolute;
          bottom: 0;
          color: #000000;
          left: 0;
          text-transform: uppercase;
          width: 100%;
          display: block;
          padding: 10px 0;
          background: #ffffff;
          opacity: 0.9;
          h3 {
            margin-bottom: 0;
          }
        }
      }
    }
    .gutter-sizer { width: 2%; }
    &.home {
      .grid-sizer,
      .grid-item {
        width: calc(100% / 3 - 2%);
      }
    }
    &.collaborations {
      .grid-sizer,
      .grid-item {
        width: calc(100% / 3 - 2%);
      }
    }
    &.creations {
      .grid-sizer,
      .grid-item {
        width: calc(100% / 2 - 2%);
      }
    }
    &.bijoux {
      .grid-sizer,
      .grid-item {
        width: calc(100% / 2 - 2%);
      }
    }
    &.gallery {
      .grid-sizer,
      .grid-item {
        width: calc(100% / 3 - 2%);
      }
      .alfredo-villalba-SS-2017, .givenchy-FW-16-17 {
        .grid-sizer,
        .grid-item {
          width: calc(100% / 2 - 2%);
        }
      }
      .clarisse-hieraix-FW-2014 {
        .grid-sizer,
        .grid-item {
          width: calc(100% / 4 - 2%);
        }
      }
    }
  }
}

/**
 * Photoswipe
 */

.pswp__caption__center {
  text-align: center !important;
}

@include media-query($on-tablette) {
  .page-content {
    .wrapper {
      max-width: 90%;
      &.home, &.collaborations, &.creations, &.bijoux, &.gallery {
        .grid-sizer,
        .grid-item {
          width: calc(100% / 2 - 2%);
        }
        .grid-item {
          height: initial;
          figure {
            figcaption {
              h3 {
                font-size: 1em;
              }
            }
          }
        }
      }
    }
  }
}

@include media-query($on-mobile) {
  .site-header {
    padding-top: 36px;
    border-bottom: 1px solid #e8e8e8;
    .site-title {
      margin-bottom: 0;
    }
    .site-tagline {
      margin-top: 0;
    }
    .site-nav {
      top: 0;
      right: 0;
      border: none;
      border-radius: 0;
      background-color: transparent;
      z-index: 1;
      .trigger {
        width: 100vw;
        height: 100vh;
        text-align: center;
        background-color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0.95);
        font-size: 1.2em;
        padding-top: calc(100vh - 150%);
        .page-link {
          margin: initial;
          &.active {
            border: none;
            color: $brand-color;
          }
        }
      }
    }
  }
  .page-content {
    .wrapper {
      max-width: 90%;
      .page-heading {
        font-size: 1.3em;
      }
      &.home, &.collaborations, &.creations, &.bijoux, &.gallery {
        .grid-sizer,
        .grid-item {
          width: 100% !important;
        }
      }
    }
  }

  article {
    hgroup {
      h2 {
        font-size: 1.1em
      }
    }
  }
}
